[user]
  name = Harmon Hsu
  email = xhx1719@gmail.com
  signingkey = ~/.ssh/id_ed25519_git.pub
[gpg]
  format = ssh
[commit]
  template = ~/.config/git/commitmsg.txt
  verbose = true
  gpgsign = true
[tag]
  sort = -taggerdate
  gpgsign = true

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  fscache = true
[apply]
  whitespace = fix

[init]
  defaultBranch = main

[alias]
  graph = log --all --graph \
    --pretty=format:'%C(auto)%h%C(reset) %C(bold blue)%an%C(reset) %C(magenta)%ar%C(reset) %C(auto)%D%C(reset)%n%s%n'
  inc = add --patch

[push]
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[rebase]
  autoStash = true

[branch]
  sort = -committerdate

[status]
  showUntrackedFiles = all
[diff]
  tool = nvimdiff
  algorithm = histogram
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false

[fetch]
  prune = true
